body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 2rem;
  color: #66bfbf;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #66bfbf;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #11999e;
}

p {
  font-family: sans-serif;
  line-height: 2;
}

.top-container {
  background-color: #eaf6f6;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 60%;
}

.my-skills-h2 {
  padding-top: 3rem;
}

.middle-container {
  padding-top: 3em;
  padding-bottom: 1em;
  align-items: center;
  margin: auto;
}

.profile-img {
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
}

.middle-paragraph {
  text-align: middle;
  width: 50%;
  margin: auto;
}

.middle-hr {
  size: 0;
  border-top: 5px dotted;
  border-style: dotted none none;
  width: 5%;
  color: #c9d4d4;
}

.hello {
  text-align: center;
  padding-bottom: 3rem;
}

.skills {
  padding-top: 2em;
  margin: auto;
  width: 40%;
}

.design-div {
  padding-bottom: 5rem;
  text-align: left;
  display: inline-block;
  margin: auto;
}

.wings-div {
  padding-bottom: 3rem;
  text-align: left;
  display: inline-block;
  margin: auto;
}

.computer-img {
  float: left;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  margin-right: 30px;
}

.wings-img {
  margin-left: 30px;
  float: right;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}

.contact-div {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
  width: 70%;
}

.bottom-container {
  padding-top: 2rem;
  padding-bottom: 0;
  background-color: #66bfbf;
}

.footer-p {
  padding-bottom: 2rem;
  color: white;
  font-size: small;

  margin-bottom: 0;
}

.footer-link {
  padding-left: 1em;
  padding-right: 1em;
  color: #11999e;
  text-decoration: none;
  font-size: x-large;
}

.footer-link:hover {
  color: #0c787c;
}

.myButton {
  background-color: #66bfbf;
  border-radius: 8px;
  border: 1px solid #66bfbf;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #0f8387;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.pro {
  text-decoration: underline;
  color: #396c6c;
}

.wings-paragraph-links {
  text-decoration: dotted;
  color: darkblue;
}

.wings-paragraph-links:hover {
  background-color: #c3c3c3;
}